<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>2gis parser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/rxjs@^7/dist/bundles/rxjs.umd.min.js"></script>
    <script src="https://unpkg.com/xlsx@0.14.0/xlsx.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
const two_gis_key = 'ruoedw9225';

function serialize(obj) {
  const str = [];
  for (const p in obj) str.push(`${encodeURIComponent(p)}=${encodeURIComponent(obj[p])}`);
  return str.join('&');
}

function get_query_string(full_url, params) {
  const url = full_url.replace(/^[^\/]*\/\/[^\/]+\//, '/');
  let params_string = url;
  const p = 5381;
  const h = 33;
  const f = 'baf4c54e9dae';
  Object.keys(params)
    .sort()
    .forEach(function (key) {
      params_string += params[key];
    });
  params_string += f;
  let res = p;
  for (let n = params_string.length, r = 0; r < n; ++r) {
    res = res * h + params_string.charCodeAt(r);
    res >>>= 0;
  }
  res >>> 0;
  const query_string = `${full_url}?${serialize(params)}&r=${res}`;
  console.log(query_string);
  return query_string;
}

class ResultSet extends React.Component {
  render() {
    const size = this.props.result_set.length;
    return (
      <div>
        {!!size && (
          <table className="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Название</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Адрес</th>
              </tr>
            </thead>
            <tbody>
              {this.props.result_set.slice(0, 20).map((item, i) => (
                <tr key={item.id}>
                  <td>{i+1}</td>
                  <td>{item.name}</td>
                  <td>{item.phone}</td>
                  <td>{item.email}</td>
                  <td>{item.address}</td>
                </tr>
              ))}
            </tbody>
          </table>
        )}
        {size > 20 && <div>Скрыто {size - 20} результатов</div>}
      </div>
    );
  }
}

class ResultSetInfo extends React.Component {
  render() {
    return (
      <div>
        <h5>
          Результаты:
          <small style={{ marginLeft: 8 }} className="text-body-secondary">{this.props.size}</small>
        </h5>
        <h5>
          Выкачано:
          <small style={{ marginLeft: 8 }} className="text-body-secondary">{this.props.fetched}</small>
        </h5>  
      </div>
    );
  }
}

class DownloadCities extends React.Component {
  constructor(props) {
    super(props);
    this.download = this.download.bind(this);
    this.search_text = React.createRef();
  }

  download(event) {
    const qparams = {
      key: two_gis_key,
      locale: 'ru_RU',
      types: 'adm_div.settlement',
      fields: 'items.region_id',
      q: this.search_text.current.value,
    };
    const { addCities } = this.props;
    const processData = function (res) {
      const data = res.data.result.items;
      const cities = {};
      data.forEach((item) => {
        if (!cities[item.region_id] && item.type === 'adm_div' && item.subtype === 'city') {
          cities[item.region_id] = item.name
        }
      });
      addCities(cities);
    };
    const url = 'https://catalog.api.2gis.ru/3.0/suggests';
    axios
      .get(get_query_string(url, qparams))
      .then(processData)
      .catch((err) => console.log(err));
    event.preventDefault();
  }

  render() {
    return (
      <form onSubmit={this.download}>
        <div className="mb-3" style={{ display: 'flex', alignItems: 'end', gap: '24px' }}>
          <div style={{ maxWidth: 400 }}>
            <label htmlFor="add_city" className="form-label">Добавить города к выбору:</label>
            <input placeholder="Название города" type="text" className="form-control" id="add_city" ref={this.search_text} />
          </div>
          <div>
            <input type="submit" value="Добавить" className="btn btn-primary" />
          </div>
        </div>
      </form>
    );
  }
}

class Parser extends React.Component {
  constructor(props) {
    super(props);
    this.query = React.createRef();
    this.num_threads = React.createRef();
    this.pause = React.createRef();
    this.delete_repeating = React.createRef();
    this.city = React.createRef();
    this.addCities = this.addCities.bind(this);
    this.handleSubmit = this.handleSubmit.bind(this);
    this.download = this.download.bind(this);
    this.process_result_set_response = this.process_result_set_response.bind(this);
    this.state = {
      result_set: [],
      cities: {
        8: 'Астрахань',
        25: 'Владивосток',
        33: 'Волгоград',
        31: 'Воронеж',
        9: 'Екатеринбург',
        21: 'Казань',
        7: 'Красноярск',
        113: 'Махачкала',
        32: 'Москва',
        19: 'Нижний Новгород',
        1: 'Новосибирск',
        2: 'Омск',
        16: 'Пермь',
        24: 'Ростов',
        18: 'Самара',
        22: 'Тольятти',
        3: 'Томск',
        13: 'Тюмень',
        17: 'Уфа',
        35: 'Хабаровск',
        15: 'Челябинск',
        28: 'Ярославль',
      },
    };
  }

  addCities(new_cities) {
    const cities = {};
    const old_cities = this.state.cities;
    Object.keys(old_cities).forEach(function (key) {
      cities[key] = old_cities[key];
    });
    const added_cities = [];
    Object.keys(new_cities).forEach(function (key) {
      if (cities[key]) {
        return;
      }
      cities[key] = new_cities[key];
      added_cities.push(`${String(key)}: ${new_cities[key]}`);
    });
    added_cities.unshift(`Добавленые города (${String(added_cities.length)} шт):`);
    alert(added_cities.join('\n'));
    this.setState({ cities });
  }

  handleSubmit(event) {
    const req_data = {
      url: 'https://catalog.api.2gis.ru/3.0/markers',
      params: {
        page: 1,
        page_size: 10000,
        region_id: this.city.current.value,
        type: 'building,branch',
        q: this.query.current.value,
        locale: 'ru_RU',
        key: two_gis_key,
        'stat[sid]': '5f30daab-553e-476d-8bfb-4703066f7714',
        'stat[user]': 'fda745cf-fffb-4f1a-b4c4-b773bc7da475',
      },
    };
    axios
      .get(get_query_string(req_data.url, req_data.params))
      .then(this.process_result_set_response)
      .catch((error) => console.log(error));
    event.preventDefault();
  }

  process_result_set_response(response) {
    const pause = parseFloat(this.pause.current.value) * 1000;
    const fetch_geometry = function (item) {
      const req_data = {
        url: 'https://catalog.api.2gis.ru/2.0/catalog/branch/get',
        params: {
          type: 'filial',
          fields: 'items.adm_div',
          id: item.id,
          see_also_size: 2,
          locale: 'ru_RU',
          key: two_gis_key,
        },
      };
      const sleep = function (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
      };
      async function get_or_repeat(url) {
        let counter = 0;
        while (counter < 10000) {
          counter += 1;
          await sleep(pause);
          response = await axios.get(get_query_string(req_data.url, req_data.params));
          if (response.data.meta.code != 403) {
            return response;
          }
        }
      }

      return get_or_repeat(get_query_string(req_data.url, req_data.params))
        .then((result) => result.data.result.items[0])
        .then(function (xitem) {
          xitem.result_set_id = item.result_set_id;
          xitem.location = item.location;
          xitem.id = item.id;
          return xitem;
        })
        .catch(function (err) {
          console.log('Error1', err);
          return undefined;
        });
    };
    let { items } = response.data.result;
    items = items.map((item, i) => ({
      id: item.id,
      result_set_id: i,
      geometry_id: item.geometry_id,
      location: `${item.lon},${item.lat}`,
    }));
    const rs_items = rxjs.of(...items);
    const result = rs_items
      .pipe(
        rxjs.operators.mergeMap((x) => fetch_geometry(x), parseInt(this.num_threads.current.value))
      )
      .pipe(rxjs.operators.filter((x) => x !== undefined));
    let fetched = 0;
    this.setState({ fetched: 0 });
    this.setState({ size: items.length });
    const parser = this;
    result.subscribe(
      function (item) {
        fetched += 1;
        parser.setState({ fetched });
        Object.assign(items[item.result_set_id], item);
      },
      function (err) {
        fetched += 1;
        parser.setState({ fetched });
        console.log('Error2', err);
      },
      function () {
        function fetch_contact_by_type(contact_groups, type, attr_name) {
          if (!contact_groups || !contact_groups[0]) {
            return '';
          }
          let contacts = contact_groups.reduce((prev, next) => prev.concat(next.contacts), []);
          if (type) contacts = contacts.filter((contact) => !!contact && contact.type === type);
          contacts = contacts.map((contact) => contact[attr_name]);
          return contacts.join(' ').replace(';', '#');
        }

        function format_addr(item) {
          let address = '';
          if (item.adm_div) address += `${item.adm_div.map((div) => div.name).join(', ')}, `;
          return address + item.address_name;
        }

        items = items.map((item) => ({
          name: item.name,
          address: format_addr(item),
          phone: fetch_contact_by_type(item.contact_groups, 'phone', 'value'),
          email: fetch_contact_by_type(item.contact_groups, 'email', 'value'),
          website: fetch_contact_by_type(item.contact_groups, 'website', 'text'),
          rubrics:
            (item.rubrics && item.rubrics.reduce((prev, next) => `${prev} ${next.name}`, ' ')) ||
            '',
          id: item.id,
          geometry_id: `gid ${item.geometry_id}`,
          location: item.location,
        }));
        if (parser.delete_repeating.current.checked) {
          const item_dict = {};
          items.forEach(function (item) {
            const id = item.name + item.phone;
            if (item_dict[id]) {
              return;
            }
            item_dict[id] = item;
          });
          items = Object.values(item_dict);
        }
        parser.setState({ result_set: items });
        console.log('Finished');
      }
    );
  }

  download() {
    function sheet_to_workbook(sheet, opts) {
      const n = opts && opts.sheet ? opts.sheet : 'Sheet1';
      const sheets = {};
      sheets[n] = sheet;
      return { SheetNames: [n], Sheets: sheets };
    }
    const ws = XLSX.utils.json_to_sheet(this.state.result_set);
    const wb = sheet_to_workbook(ws);
    XLSX.writeFile(wb, 'parsed_data.csv', { FS: '\t' });
  }

  render() {
    return (
      <div className="container">
        <div style={{ marginTop: 64, maxWidth: 400 }}>
          <DownloadCities addCities={this.addCities} />
          <form onSubmit={this.handleSubmit}>
            <div className="mb-3">
              <label className="form-label">Город</label>
              <select className="form-select" defaultValue={32} ref={this.city}>
                {Object.keys(this.state.cities).map((id) => (
                  <option key={id} value={id}>
                    {this.state.cities[id]}
                  </option>
                ))}
              </select>
            </div>
            <div className="mb-3">
              <label htmlFor="query" className="form-label">Текст поиска</label>
              <input type="text" className="form-control" id="query" ref={this.query} />
            </div>
            <div className="mb-3">
              <label htmlFor="num_threads" className="form-label">Кол-во потоков</label>
              <input defaultValue="1" type="number" className="form-control" id="num_threads" ref={this.num_threads} />
            </div>
            <div className="mb-3">
              <label htmlFor="pause" className="form-label">Задержка</label>
              <input defaultValue="0.5" type="number" className="form-control" id="pause" ref={this.pause} step="0.1" />
            </div>
            <div className="mb-3 form-check">
              <input type="checkbox" className="form-check-input" id="exampleCheck1" defaultChecked ref={this.delete_repeating} />
              <label className="form-check-label" htmlFor="delete_repeating">Удалить повторы</label>
            </div>
            <div className="mb-3">
              <input type="submit" value="Искать" className="btn btn-primary" />
            </div>
          </form>
          <div className="mb-3">
            <button type="button" className="btn btn-success" onClick={this.download} disabled={!this.state.result_set.length}>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-download" viewBox="0 0 16 16" style={{ marginRight: 4 }}>
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
              </svg>
              Скачать csv
            </button>
          </div>
       
        </div>
         <ResultSetInfo fetched={this.state.fetched} size={this.state.size}/>
        <ResultSet result_set={this.state.result_set} />
      </div>
    );
  }
}

ReactDOM.render(<Parser result_set={[]} />, document.getElementById('root'));

</script>
</body>
</html>
